.parent {
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(133, 133, 133, 0.75);
  -moz-box-shadow: 0px 2px 1px 0px rgba(133, 133, 133, 0.75);
  box-shadow: 0px 2px 1px 0px rgba(133, 133, 133, 0.75);
  width: 200;
  height: 300;
  background-color: #fefefe;
  /* max-height: 40px; */
  max-width: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.parent img {
  /* height: max-content; */
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.content {
  position: absolute;
  padding: 10px 4px;
  padding-bottom: 12px;
  padding-top: 0;
  background-color: #fefefe;
  bottom: 0;
  width: 200px;
  height: 60px;
}
.wrapper {
  position: relative;
  /* padding: 10px 0; */
  padding-top: 7px;
  /* background-color: pink; */
}

.title h3 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 3px;
}
.rating {
  font-size: 0.9rem;
  position: absolute;
  padding: 2px;
  background-color: #081c22;
  border-radius: 50%;
  bottom: 1;
  right: 0;
  margin-top: -30px;
  margin-right: 10px; /*mask + padding*/
  color: #fefefe;
}
.mask {
  width: 13px;
  height: 13px;
  padding: 7px;
  border-radius: 50%;
  font-size: 0.8rem;
  position: absolute;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #081c22;
  /* margin-top: -10px; */
}
.circle {
  /* margin-top: -10px; */
  width: 15px;
  height: 15px;
  padding: 8px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  background: conic-gradient(#2ba272 155deg, #ededed 0deg);
}
.info {
  padding-top: 8px;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 0;
  /* flex: 1; */
  max-width: 192px; /*max width - padding */
  font-size: 0.85rem;
}
